<html   xmlns:th="https://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
        layout:decorator="Layout/admin.html">
<div layout:fragment="right_content">
    <div class="container">
        <div class="row">
            <div class="col-6 offset-3">
                <form th:action="@{'/admin/saveIngredient'}" method="post">
                    <input type="hidden" name="id", th:value="${ingredient.getId()}">
                    <div class="form-group">
                        <label>Название ингредиента</label>
                        <input type="text" name="ingName" class="form-control" required th:value="${ingredient.getIngredientName()}">
                    </div>
                    <div class="form-group btns">
                        <button class="btn btn-success" th:text="Сохранить"></button>
                        <a class="btn btn-danger del" th:href="@{'/admin/deleteIngredient/'+${ingredient.getId()}}">Удалить</a>
                    </div>

                </form>
            </div>
            <style>
                .rightContent{
                    margin:0!important;
                    width: 100%;
                }
                .container{
                    margin-top: 100px;
                }
                .del{
                    float: right;
                }
            </style>
        </div>
    </div>
</div>
</html>