<html   xmlns:th="https://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
        layout:decorator="Layout/admin.html">
<div layout:fragment="right_content">
    <div class="container">
        <div class="row">
            <div class="col sm-6">
                <a sec:authorize="hasRole('ROLE_ADMIN')" class="btn btn-success createBTN" th:href="@{'/admin/createRoll'}">Создать</a>
                <table  class="table table-striped">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>Наименование</th>
                        <th>Ингредиенты</th>
                        <th>Количество</th>
                        <th>Цена</th>
                        <th sec:authorize="hasRole('ROLE_ADMIN')">Редактировать</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="roll:${rolls}">
                        <th th:text="${roll.getId()}"></th>
                        <th th:text="${roll.getName()}"></th>
                        <th>
                            <span th:each="ingredient:${roll.getIngredients()}" th:text="${ingredient.getIngredientName()}" style="display: block;"></span>
                        </th>
                        <th th:text="${roll.getAmount()}"></th>
                        <th th:text="${roll.getPrice()}"></th>
                        <th sec:authorize="hasRole('ROLE_ADMIN')">
                            <a th:href="@{'/admin/rollEdit/'+${roll.getId()}}" class="btn btn-info btn-sm">Редактировать</a>
                        </th>
                    </tr>
                    </tbody>
                </table>
            </div>
            <style sec:authorize="hasRole('ROLE_ADMIN')">
                .rightContent{
                    margin:0!important;
                    width: 100%;
                }
                .createBTN{
                    float: right;
                    margin-bottom: 20px;
                }
            </style>
        </div>
    </div>
</div>
</html>