*{
    box-sizing: border-box;
}
.menuFull{
    width: 100%;
    height: 85px;
    background-color: greenyellow;
    position: fixed;
    z-index: 3;
    top:0;
}
.menu{
    height: 85px;
    width: 90%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    background-color: greenyellow;
}
.references{
    display: flex;
    align-items: center;
    list-style: none;
    margin:0;
    margin-left:70px!important;
}
.references li{
    margin: 0 30px;
}
.references li:hover a{
    color: #60D5AC;
    letter-spacing: 1px;
}
.menuFull a{
    color: #006F48;
    font-family: 'Montserrat', sans-serif;
    font-weight: 450;
    text-decoration: none;
    transition: 0.5s;
}
.Logo{
    font-size: 27px!important;
    font-weight: 800!important;
    letter-spacing: 2px!important;
    color: rgb(255, 255, 255)!important;
    font-family: 'Montserrat', sans-serif;
}
.Logo:hover{
    color: white!important;
}
.bastketIMG{
    margin-left: auto;
    display: flex;
    align-items: center;
}
#basketCount{
    font-size: 17px;
    margin-right: 5px;
}
.LogIn{
    margin-left: 20px;
    transition: 0.5s;
}
.LogIn:hover{
    color: #60D5AC;
}
#copyRight{
    display: none;
}
.siteContent{
    width:90%;
    margin: 0 auto;
    margin-bottom: 100px;
}
.catalog{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 100px;
}
.item_container{
    box-shadow: 0 0 6px 0 #d6d6d1;
    width: 32%;
    height: 250px;
    margin-left: 7px;
    margin-right: 7px;
    transition: 0.3s;
    margin-top: 24px!important;
    display: flex;
    flex-direction: row;
    padding: 5px 20px 16px;
}
.item_container:hover{
    box-shadow: 0 0 6px 0 #b3b3ad;
}
.post-img{
    display: flex;
    flex-direction: column;
}
.post-description{
    padding-top: 25px;
    display: flex;
    flex-direction: column;
}
.item_container .item_picture{
    width: 190px;
    height: 190px;
}
.item_price{
    font-weight: 600;
    font-size: 25px;
    padding-left: 20px;
    color: #49433c;
    font-family: 'Roboto', sans-serif;
}
.post-description{
    padding: 25px 0 0 35px;
    width: 100%;
}
.item_name{
    font-size: 21px;
    color: #49433c;
    font-weight: 600;
    margin-bottom: 15px;
}
.delItem{
    border: 0!important;
}
.item_basket{
    background-color: greenyellow;
    border-radius: 10px;
    display: inline-block;
    color: #006F48;
    font-size: 15px;
    font-weight: 600;
    padding: 5px 10px;
    width: 70%;
    text-align: center;
    transition: 0.3s;
}
.item_basket:hover{
    color: #006F48;
    text-decoration: none;
    box-shadow: 0 0 10px 0 #07cd00;
}
.item_ingredients{
    margin-bottom: 15px;
    max-height: 80px;
    height: 80px;
    overflow: scroll;
    width: 100%;
    font-size: 14px;
    color: #49433c;
}
.footerFull{
    width: 100%;
    height: 60px;
    position: fixed;
    bottom:0;
    background-color: #f6f6f6;
}
.footerMenu{
    width: 90%;
    height: inherit;
    background-color: inherit;
    z-index: 2;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.footerMenu img{
    width: 24px;
    height: 24px;
}
.footerMenu ul{
    list-style: none;
    margin: 0!important;
    padding: 0!important;
}
.VkInst{
    width: 20%;
}
.VkInst ul{
    display: flex;
}
.VkInst ul li{
    margin-left:10px;
}
.footMenu{
    width: 30%;
}
.footMenu ul{
    display: flex;
}
.footMenu ul li{
    margin-left: 20px;
}
.footMenu ul li:first-child{
    background:greenyellow;
    border-radius: 10px;
}
.footMenu ul li a{
    padding: 5px 20px;
    display: block;
    text-decoration: none;
    color: #49433c;
    font-size: 14px;
    transition: 0.3s;
}
.footMenu ul li a:hover{
    color: #006F48;
}
.frstA:hover {
    color:white!important;
}
.downloadApps{
    display: flex;
    width: 50%;
    align-items: center;
    justify-content: flex-end;
}
.downloadApps p{
    margin: 0!important;
    padding: 0!important;
    color: #49433c;
    font-size: 14px;
}
.downloadApps ul{
    display: flex;
}
.downloadApps ul li{
    margin-left: 20px;
}
