<footer class="footerFull">
    <div class="footerMenu"
         xmlns:th="https://www.thymeleaf.org"
         xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
         xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

        <div class="VkInst">
            <ul>
                <li>
                    <a th:href="@{#}">
                        <img src="https://трисамурая.рф/img/vk-social-network-logo.svg">
                    </a>
                </li>
                <li>
                    <a th:href="@{#}">
                        <img src="https://трисамурая.рф/img/instagram-logo.svg">
                    </a>
                </li>
            </ul>
        </div>

        <div class="footMenu">
             <ul>
                 <li>
                     <a th:href="@{#}">Акция</a>
                 </li>
                 <li>
                     <a th:href="@{#}">Доставка</a>
                 </li>
                 <li>
                     <a th:href="@{#}">Контакты</a>
                 </li>
             </ul>
        </div>

        <div class="downloadApps">
            <p>Скачивайте наше приложение:</p>
            <ul>
                <li>
                    <a>
                        <img src="https://трисамурая.рф/img/android-logo.svg">
                    </a>
                </li>
                <li>
                    <a>
                        <img src="https://трисамурая.рф/img/apple.svg">
                    </a>
                </li>
            </ul>
        </div>
    </div>
</footer>