<html
        xmlns:th="https://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorator="Layout/main.html">
<div layout:fragment="site_cont">
    <section class="catalog">
        <div th:each="set:${sets}" class="item_container">
            <div class="post-img">
                <img th:src="@{'/photo/'+${set.getSet_picture()}}" class="item_picture" width="150px" height="150px">
                <p class="item_price" th:text="${set.getPrice()}+' ₸'"></p>
            </div>
            <div class="post-description">
                <h3 class="item_name" th:text="${set.getName()}"></h3>
                <p class="item_ingredients" th:text="${set.getItems()}"></p>
                <form th:action="@{'/addSetToBasket'}" method="post">
                    <input type="hidden" name="item_set" th:value="${set.getId()}">
                    <input type="submit" value="В корзину" class="item_basket delItem">
                </form>
            </div>
        </div>
    </section>
</div>
</html>